$basic-header: #478BDA;
$basic-white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.header {
  background-color: $basic-header;
  height: 60px;

  &-project {
    font-size: 1.75em;
    color: $basic-white;
    font-weight: 300;
    text-align: center;
    line-height: 3.5rem;
  }
}

.wrapper {
  width: 100%;
  height: inherit;
  max-width: 940px;
  margin: 0 auto;
}

.main {

  &-information {
    padding-top: 64px;
  }

  &__header {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
  }

  &__description {
    max-width: 780px;
    margin-top: 28px;
    margin-bottom: 60px;
    line-height: 1.25rem;
  }
}

.map {
  width: 940px;
  height: inherit;

  &__wrapper {
    width: 100%;
    max-width: 940px;
    height: 400px;
    margin: 0 auto;
  }
}

.decorative_1 {
  position: absolute;
  left: 0;
  transform: translateX(-25%);
  top: 222px;
  width: 20%;
}

.decorative_2 {
  z-index: -1;
  position: absolute;
  width: 15%;
  right: 0;
  bottom: 0;
}

.footer {
  background-color: $basic-header;
  height: 60px;
  margin-top: 60px;
}